body {
    background: #FFF;
    color: #000;
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
}

#header {
    width: 100%;
    height: 90px;
    font-size: xxx-large;
}

#sidebar {
    float: right;
    width: 20%;
    height: var(--heigt-primary);
}

#BMWLOGO {
    width: 10%;
    text-align: right;

}

#container {
    margin: auto auto;
    text-align: center;
    width: 90%;
    height: 30px;
}

#navigation {
    background: #FE9798;
    width: 100%;
    height: 25px;
}

#content #type {
    float: left;
    text-align: left;
    font-size: 20px;
    width: 80%;
}

#content h2 {
    font-size: 35px;
    margin-top: 0;
}

#clear {
    clear: both;
}

#footer {
    background: #00BFFF;
    width: 100%;
    height: 40px;
    text-align: left;
}

span.bold {
    font-weight: bold;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.pLeft p {
    margin-left: 10px;
    font-weight: bold;
}

.zzz{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
    transition: 1s;
    margin-left: 270px;

}

.pLeft {
    float: left;
    text-align: left
}

#left_col {
    width: 15%;
}

#timerBlock {
    border: 0.5px solid black;

}

#dateBlock {
    border: 0.5px solid black;
    margin-top: 5px;
}

.pRigth p {
    margin-right: 10px;
}

.pRigth {

}

table {
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}

td, th {
    padding: 3px 7px 2px 7px;
    color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #0b0908;
}

tr:nth-child(odd) {
    background-color: #1c120d;
}